In [1]:
import pandas as pd
from selenium import webdriver
import time
import matplotlib.pyplot as plt
import numpy as np

In [2]:

def scrap_historical_data():
  
    browser = webdriver.Chrome(r'C:\Users\1\Desktop\קורס DS\שיעור 1\demos\demos\chromedriver.exe')
    url = 'https://www.investing.com/commodities/gold-historical-data'

    browser.get(url)
    # wait time for the webpage to load
    time.sleep(10)
    # remove any popups
    try:
        popup = browser.find_element_by_xpath('//*[@id="PromoteSignUpPopUp"]/div[2]/i')
        popup.click()
    except:
        pass
    field = browser.find_element_by_xpath('//*[@id="widgetFieldDateRange"]')
    field.click()
    # wait time for the webpage to load
    time.sleep(2)
    # set date limit to which historical data is considered
    start_date = browser.find_element_by_xpath('//*[@id="startDate"]')
    start_date.clear()
    start_date.send_keys('01/01/2000')
    enter_key = browser.find_element_by_xpath('//*[@id="applyBtn"]')
    enter_key.click()
    # wait time for the webpage to load
    time.sleep(10)
    # remove any popups
    try:
        popup = browser.find_element_by_xpath('//*[@id="PromoteSignUpPopUp"]/div[2]/i')
        popup.click()
    except:
        pass
    # load the data from webpage
    try:
        tabel = browser.find_element_by_xpath('//*[@id="curr_table"]').get_attribute('outerHTML')
    except:
        # remove any popups
        try:
            popup = browser.find_element_by_xpath('//*[@id="PromoteSignUpPopUp"]/div[2]/i')
            popup.click()
        except:
            pass
        # load the data from webpage
        tabel = browser.find_element_by_xpath('//*[@id="curr_table"]').get_attribute('outerHTML')
    df  = pd.read_html(tabel)
    dataset = df[0]
    
    dataset.to_csv('gold_historical_data.csv')
    return dataset

In [3]:
# invoke scrapping function
main_dataset = scrap_historical_data()
# parse data in scrapped data to standard timestamp format
main_dataset.loc[:,'Date'] = pd.to_datetime(main_dataset.loc[:,'Date'])
# dropp columns that are not needed to do prediction
main_dataset.drop(columns=['Open','High','Low','Vol.','Change %'], inplace=True, axis=1)
# display the sample to see how dataframe looks now
main_dataset.head()

        Date   Price
0 2019-08-19  1537.2
1 2019-08-16  1549.2
2 2019-08-15  1556.7
3 2019-08-14  1554.0
4 2019-08-13  1540.7

In [4]:
main_dataset.tail()

           Date  Price
4995 2000-01-10  281.7
4996 2000-01-07  281.9
4997 2000-01-06  281.4
4998 2000-01-05  281.1
4999 2000-01-04  282.7

In [ ]:
main_dataset.head(